body{
  margin: 0;
  padding: 0;
}
.App{
  background-color: rgb(109, 226, 226);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 50vw;
  height: auto;
  margin: auto;
  border-radius: 5px;
}
.App h1{
  text-align:center;
  color: rgb(74, 74, 58);
}
.input_sec{
  width: 100%;
}
.input_sec input{
  width: 85%;
  padding: 5px;
  font-size: 20px;
  border: none;
 outline: none;
}
.input_sec input:focus{
  background-color: rgb(241, 205, 78);
  color: white;
}
.input_sec button{
  width: 13%;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
  background-color: rgb(57, 130, 240);
  color: white;
}
.list_sec{
  width: 70%;
  margin: auto;
}
.list_sec input[type=text]{
  width: 75%;
  border: none;
  outline: none;
  padding: 5px;
  text-align: center;
}
.delete{
  background-color: rgb(247, 78, 72);
  color: white;
  border: none;
  outline: none;
  padding: 5px 7px 5px 7px;
  cursor: pointer;
}
.edit{
  background-color: rgb(16, 209, 16);
  color: white;
  border: none;
  outline: none;
  padding: 5px 7px 5px 7px;
  cursor: pointer;
}
